*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    text-align: center;
}
.header{
    margin-top: 0.8em;
    font-size: 1.5rem;
    color: brown;
}

.choice{
    height:160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: black;
    cursor: pointer;
}

.box{
    height:150px;
    width: 150px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 75px;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1.5rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}

#user-score,
#comp-score{
    font-size: 3rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{   
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 0.8rem;
    border-radius: 5px;
}

footer{
    margin-top:2rem;
    font-size: 1.2rem;
}